<div class="input-group" [formGroup]="form" (keydown)="keyDownFunction($event)">
    <input class="form-control form-control-md g-rounded-4" placeholder="Enter search keywords" type="text" formControlName="searchQ">
    <button class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2"
        type="submit">
        <i class="hs-admin-search"></i>
    </button>
</div>
<b>Кто забил гол</b>
{{form.get('searchQ').value}}

{{player?.name}}
